include labelInputPair.pug

- var titleText = "User Manager"

doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title= titleText
    body
        div
            h3= "Find Account"
            +homeButton()
        form(action="/search", method="POST")
            +labelInputPair("First name", "text", "firstname", "John", null, false)
            +labelInputPair("Last name", "text", "lastname", "Smith", null, false)
            button(type="submit") Find