include labelInputPair.pug

- var titleText = "User Manager"

doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title= titleText
    body
        h3= "Login"
        form(action="/login", method="POST")
            +labelInputPair("Email", "text", "email", "johnsmith@hotmail.com")
            button(type="submit") Login