include labelInputPair.pug

- var titleText = user.name

doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title= titleText
    body
        div
            +homeButton()
            form(action="/delete/" + user.id, method="post")
                button(type="submit") Delete
        form(action="/update", method="post")
            p= "Id: " + user.id
            +labelInputPair("First name", "text", "firstName", user.firstName, user.firstName, false)
            +labelInputPair("Last Name", "text", "lastName", "Smith", user.lastName, user.lastName, false)
            +labelInputPair("Email", "text", "email", user.email, user.email, false)
            +labelInputPair("Age", "text", "age", user.age, user.age, false)
            // Hidden form id value
            input(type="hidden", name="id", value=user.id)
            button(type="submit") Submit Changes
        